# SyriaTel Customer Churn Analysis

- Student name: Gamze Turan
- Student pace: self paced
- Scheduled project review date/time: 
- Instructor name: Claude Fried
- Blog post URL:

In [ ]:
<img align="center" width="600" height="300" src=>

## Overview

I will examine the "SyriaTel Customer Churn" data in this study. The SyriaTel is a telecommunication company. To determine whether a customer will ("soon") discontinue doing business with Syria Tel is the goal of the study.

The best way the determine is to make a predictive model which will classify customers who might stop doing business with Syria Tel, using the data.

I will build a model for classifying whether customer will stop business True or False.

## Business Understanding

This search will detecting which customers are likely to leave a sevice or to cancel a subcription to a service.

Select a modelthat will be the most accurate in predicting which client will discontinue doing business with SyriaTel.

## Data Understanding

The Data comes from SyriaTel and includes information about their customers. The dataset has customer's state of residence, telephone numbers and length of the account.

There are columns indicating if the customers has an international plan and voicemail plan, how many voice mails they receive.

The dataset includes how many minutes they spend talking, how many calls they make and how much they are charged during day, evening and night periods.

In [4]:
# importing necessary libraries
# To help with reading and manipulating data
import pandas as pd
import numpy as np

#To help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#To be used for missing value manipulation
from sklearn.impute import SimpleImputer

#To help with model building
from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import (
    AdaBoostClassifier,
    GradientBoostingClassifier,
    RandomForestClassifier,
    BaggingClassifier,
)
from xgboost import XGBClassifier

# To get different metric scores, and split data
from sklearn import metrics
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from sklearn.metrics import (
    f1_score,
    accuracy_score,
    recall_score,
    precision_score,
    confusion_matrix,
    roc_auc_score,
    plot_confusion_matrix,
)

# To be used for data scaling and one hot encoding
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder

# To be used for tuning the model
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

# To be used for creating pipelines and personalizing them
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# To define maximum number of columns to be displayed in dataframe
pd.set_option("display.max_columns", None)

# To supress scientific notations for a dataframe
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# To suppress warnings
import warnings

warnings.filterwarnings("ignore")

## Loading Data

In [5]:
scc = pd.read_csv("data/bigml_59c28831336c6604c800002a.csv")
scc.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.100,110,45.070,197.400,99,16.780,244.700,91,11.010,10.000,3,2.700,1,False
1,OH,107,415,371-7191,no,yes,26,161.600,123,27.470,195.500,103,16.620,254.400,103,11.450,13.700,3,3.700,1,False
2,NJ,137,415,358-1921,no,no,0,243.400,114,41.380,121.200,110,10.300,162.600,104,7.320,12.200,5,3.290,0,False
3,OH,84,408,375-9999,yes,no,0,299.400,71,50.900,61.900,88,5.260,196.900,89,8.860,6.600,7,1.780,2,False
4,OK,75,415,330-6626,yes,no,0,166.700,113,28.340,148.300,122,12.610,186.900,121,8.410,10.100,3,2.730,3,False

In [6]:
# Checking the number of rows and columns in the data
scc.shape

(3333, 21)

## Data Overview

In [7]:
# Let's Create a Copy of data
data = scc.copy()

In [8]:
# Displying first 5 rows of the data
data.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.100,110,45.070,197.400,99,16.780,244.700,91,11.010,10.000,3,2.700,1,False
1,OH,107,415,371-7191,no,yes,26,161.600,123,27.470,195.500,103,16.620,254.400,103,11.450,13.700,3,3.700,1,False
2,NJ,137,415,358-1921,no,no,0,243.400,114,41.380,121.200,110,10.300,162.600,104,7.320,12.200,5,3.290,0,False
3,OH,84,408,375-9999,yes,no,0,299.400,71,50.900,61.900,88,5.260,196.900,89,8.860,6.600,7,1.780,2,False
4,OK,75,415,330-6626,yes,no,0,166.700,113,28.340,148.300,122,12.610,186.900,121,8.410,10.100,3,2.730,3,False

In [9]:
# Displaying last 5 rows od the data
data.tail()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
3328,AZ,192,415,414-4276,no,yes,36,156.200,77,26.550,215.500,126,18.320,279.100,83,12.560,9.900,6,2.670,2,False
3329,WV,68,415,370-3271,no,no,0,231.100,57,39.290,153.400,55,13.040,191.300,123,8.610,9.600,4,2.590,3,False
3330,RI,28,510,328-8230,no,no,0,180.800,109,30.740,288.800,58,24.550,191.900,91,8.640,14.100,6,3.810,2,False
3331,CT,184,510,364-6381,yes,no,0,213.800,105,36.350,159.600,84,13.570,139.200,137,6.260,5.000,10,1.350,2,False
3332,TN,74,415,400-4344,no,yes,25,234.400,113,39.850,265.900,82,22.600,241.400,77,10.860,13.700,4,3.700,0,False

In [10]:
# Let's check the data types of the columns in the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [11]:
# cheking for dublicates in the data
data.duplicated().sum()

0

In [13]:
# checking for missing values in the data
data.isnull().sum()

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

In [16]:
# Let's view the statistical summary of the numerical columns in the data
data.describe().T

,count,mean,std,min,25%,50%,75%,max
account length,3333.000,101.065,39.822,1.000,74.000,101.000,127.000,243.000
area code,3333.000,437.182,42.371,408.000,408.000,415.000,510.000,510.000
number vmail messages,3333.000,8.099,13.688,0.000,0.000,0.000,20.000,51.000
total day minutes,3333.000,179.775,54.467,0.000,143.700,179.400,216.400,350.800
total day calls,3333.000,100.436,20.069,0.000,87.000,101.000,114.000,165.000
total day charge,3333.000,30.562,9.259,0.000,24.430,30.500,36.790,59.640
total eve minutes,3333.000,200.980,50.714,0.000,166.600,201.400,235.300,363.700
total eve calls,3333.000,100.114,19.923,0.000,87.000,100.000,114.000,170.000
total eve charge,3333.000,17.084,4.311,0.000,14.160,17.120,20.000,30.910
total night minutes,3333.000,200.872,50.574,23.200,167.000,201.200,235.300,395.000
total night calls,3333.000,100.108,19.569,33.000,87.000,100.000,113.000,175.000
total night charge,3333.000,9.039,2.276,1.040,7.520,9.050,10.590,17.770
total intl minutes,3333.000,10.237,2.792,0.000,8.500,10.300,12.100,20.000
total intl calls,3333.000,4.479,2.461,0.000,3.000,4.000,6.000,20.000
total intl charge,3333.000,2.765,0.754,0.000,2.300,2.780,3.270,5.400
customer service calls,3333.000,1.563,1.315,0.000,1.000,1.000,2.000,9.000

## Data Preprocessing

I will remove the column 'phone number' from the dataset because most digit in the phone number is random, and we will not use for modeling.

In [17]:
data = data.drop("phone number", axis=1)

I need to convert international plan, voice mail plan and churn columns to binary.

In [18]:
# Convert to binary
data["international plan"] = data["international plan"].map({"yes": 1, "no": 0})
data["voice mail plan"] = data["voice mail plan"].map({"yes": 1, "no": 0})
data["churn"] = data["churn"].map({True: 1, False: 0})
data.head()

,state,account length,area code,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,0,1,25,265.100,110,45.070,197.400,99,16.780,244.700,91,11.010,10.000,3,2.700,1,0
1,OH,107,415,0,1,26,161.600,123,27.470,195.500,103,16.620,254.400,103,11.450,13.700,3,3.700,1,0
2,NJ,137,415,0,0,0,243.400,114,41.380,121.200,110,10.300,162.600,104,7.320,12.200,5,3.290,0,0
3,OH,84,408,1,0,0,299.400,71,50.900,61.900,88,5.260,196.900,89,8.860,6.600,7,1.780,2,0
4,OK,75,415,1,0,0,166.700,113,28.340,148.300,122,12.610,186.900,121,8.410,10.100,3,2.730,3,0